In [1]:
import pandas as pd
import numpy as np
#from pandas import ExcelWriter
#from pandas import ExcelFile
#from scipy import stats
import matplotlib.pyplot as plt
import math
import xlwt
import openpyxl

In [2]:
# Note that currently the workbook needs to be modified by naming tabs 1 and 2 John_Code and Peak_ID. Also the top line in John_Code needs to be PeakNo	R.Time	I.Time	F.Time	Area	Height


wb = openpyxl.load_workbook('GCData.xlsx')
sheet1 = wb['John_Code']
sheet2 = wb['Peak_ID']

In [3]:
df = pd.read_excel('GCData.xlsx', sheet_name = 'John_Code')


#Preparing list of strings called Vial_names where each element is the name of a sample

Vial_names = ['Neg-1', 'Neg-2', 'Neg-3', 'Rec-1', 'Rec-2', 'Rec-3', 'Thio1', 'Thio3', 'Thio5', 'Thio6', 'Thio8', 'Thio9', 'Thio10']
#Standard_names = ['FAOH-10', 'FAOH-50', 'FAOH-100', 'FAOH-500', 'FAOH-2000']
#Sample_names = ['CM24','CM32', 'I287A', 'trc','vhb','rec']

#for x in Sample_names:
#    vial1 = x + '-1'
#    Vial_names.append(vial1)
#    vial2 = x + '-2'
#    Vial_names.append(vial2)
#    vial3 = x + '-3'
#    Vial_names.append(vial3)
    
#for x in Standard_names:
#    Vial_names.append(x)

In [4]:
df

      Peak#  R.Time  I.Time  F.Time       Area    Height
0     Neg-1     NaN     NaN     NaN        NaN       NaN
1     Peak#  R.Time  I.Time  F.Time       Area    Height
2         1   0.687    0.01   0.822      30792       962
3         2   1.192   0.822   1.242   25323478   7880281
4         3   1.286   1.242   3.104  417647061  92057263
...     ...     ...     ...     ...        ...       ...
1628    118  28.425  28.257  28.658      45487      5797
1629    119  28.778  28.658  28.976      25564      2857
1630    120  29.122  28.976  29.181       4323       554
1631    121    29.5  29.181  29.825      63051      3119
1632    122  29.887  29.825  29.979       4010       700

[1633 rows x 6 columns]

In [5]:
# FAME Retention Times 
# (minutes on DB-Fatwax column, method 4)

C7 = 2.25
C8 = 2.97
C9 = 3.99
C10 = 5.35
C11 = 6.99
C12 = 8.77
C13 = 10.72
C14 = 12.6
C15 = 14.55
C16 = 16.35
C17 = 18.2

# Create a dictionary which can be updated by changing values above. The dictionary will be called in peak identification (next block)

RT_dict = {'C7': C7, 'C8': C8, 'C9': C9, 'C10': C10, 'C11': C11, 'C12': C12, 'C13': C13, 'C14': C14, 'C15': C15, 'C16': C16, 'C17': C17}

# Create list of analytes to make it easy to call dictionary in future
analytes = ['C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16','C17']

In [6]:
# This block goes through the dataframe from the John_Code sheet and picks out sample names and relevant peaks.

#returns number of rows

number_rows = df.shape[0]

row_name = list(range(0,number_rows))

for i in row_name:
    if i < 100000: #arbitrary number for now. Need to get rid of this and see if code still runs
        # picks out each row in dataframe and truncates - would be more elegant to not have to use dataframe but whatever
        row_calling = df.loc[i,:]
        vals = row_calling.values.tolist()
        vals = vals[0:6]
        
        # picks out sample names and adds to worksheet
        for label in Vial_names:
            if vals[0] == label:
                print(vals[0])
                sheet2.append(vals)
                
        # picks out peaks
        x = type(vals[1])
        if x == float:
            for a in analytes:
                upper_tolerance = RT_dict[a] + 0.05
                lower_tolerance = RT_dict[a] - 0.05
                if vals[1] < upper_tolerance and vals[1] > lower_tolerance:
                    #print(vals[1])
                    vals.append(a)
                    #print(vals)
                    sheet2.append(vals[1:])

Neg-1
Neg-2
Neg-3
Rec-1
Rec-2
Rec-3
Thio1
Thio3
Thio5
Thio6
Thio8
Thio9
Thio10

In [7]:
wb.save('GCData.xlsx')