In [1]:
import pandas as pd
import numpy as np
#from pandas import ExcelWriter
#from pandas import ExcelFile
#from scipy import stats
import matplotlib.pyplot as plt
import math
import xlwt
import openpyxl

In [2]:
filename = 'GCData_TE_ML.xlsx'

In [3]:
# FAME Retention Times (minutes on Restek Column with Restek protocol)

C7 = 2.75
C8 = 3.9
C9 = 5.4
C10_1 = 6.93
C10 = 7.0
C11 = 8.5
C12_1 = 9.55
C12 = 9.85 
C13 = 11.15 # did not shift, but other peaks did
C12OH = 11.75

C14_1 = 12.05
C14 = 12.25 
C15 = 13.4
C14OH = 13.8
C16_1 = 14.2
C16 = 14.4
C17_cp = 15.3
C17 = 15.4
C18_1 = 16.13
C18 = 16.35


# Create a dictionary which can be updated by changing values above. The dictionary will be called in peak identification (next block)

RT_dict = {'C7': C7, 'C8': C8, 'C9': C9, 'C10_1': C10_1, 'C10': C10, 'C11': C11, 'C12_1': C12_1, 'C12': C12, 'C13': C13, 'C14_1': C14_1, 'C14': C14, 'C15': C15, 'C16_1': C16_1, 'C16': C16, 'C17': C17, 'C18_1':C18_1, 'C18':C18}

# Create list of analytes to make it easy to call dictionary in future
analytes = ['C7', 'C8', 'C9', 'C10_1', 'C10', 'C11', 'C12_1', 'C12', 'C13',#'C12OH', #
            'C14_1','C14', 'C15', 'C16_1', 'C16', #'C17_cp',
            'C17', 'C18_1', 'C18']

In [4]:
wb = openpyxl.load_workbook(filename)
sheet1 = ''
sheet1 = wb['John_Code']
sheet2 = ''
sheet2 = wb.create_sheet('Peak_ID')

In [5]:
df = pd.read_excel(filename, sheet_name = 'John_Code', header = None)


#Preparing list of strings called Vial_names where each element is the name of a sample

Vial_names = []
#Standard_names = ['FAME1000', 'FAME500', 'FAME100', 'FAME50', 'FAME25']
Sample_names = ['ClFatB3','ClFatB3_tr','ClFatB3_tr_N28S','ClFatB3_tr_I65M']

for x in Sample_names:
    vial1 = x + '-1'
    Vial_names.append(vial1)
    vial2 = x + '-2'
    Vial_names.append(vial2)
    vial3 = x + '-3'
    Vial_names.append(vial3)
    
#for x in Standard_names:
#    vial1 = x + '-lo'
#    Vial_names.append(vial1)
#    vial2 = x + '-hi'
#    Vial_names.append(vial2)

In [6]:
df

             0       1       2       3       4       5
0    ClFatB3-1     NaN     NaN     NaN     NaN     NaN
1        Peak#  R.Time  I.Time  F.Time    Area  Height
2            1   2.291   2.249   2.413    1374     343
3            2   2.733   2.679   2.847  119068   54373
4            3   3.189   3.034   3.458    4048     286
..         ...     ...     ...     ...     ...     ...
454         33  16.299  16.245  16.334    1950     893
455         34  16.622   16.53  16.684    2721     762
456         35  16.851  16.801  16.908    2456    1000
457         36   17.03  16.908  17.081    8995    4446
458         37  17.667  17.627  17.711    1885    1026

[459 rows x 6 columns]

In [7]:
# This block goes through the dataframe from the John_Code sheet and picks out sample names and relevant peaks.

num_rows = len(df)
row_name = list(range(0, num_rows))
txt_file_headers = ['Peak#', 'R.time', 'I.time', 'F.Time', 'Area', 'Peak_ID']

for i in row_name:                
    if i < num_rows+1: 
        # picks out each row in dataframe and truncates - would be more elegant to not have to use dataframe but whatever
        row_calling = df.loc[i,:]
        vals = row_calling.values.tolist()
        vals = vals[0:6]
        
        y = type(vals[0])
        
        if vals[0] in Vial_names:
            sample_of_interest = 'yes'
        
            # picks out sample names and adds to worksheet
            print(vals[0])
            heading = [vals[0],vals[0],vals[0],vals[0],vals[0],vals[0]]
            print(heading)
            sheet2.append(heading)
            sheet2.append(txt_file_headers)

        elif vals[0] != 'Peak#' and y == str:
            sample_of_interest = 'no'
            
                
        # picks out peaks
        x = type(vals[1])
        if x == int: # This if statement is for the rare occasion when the retention time of an analyte is an integer
            vals[1] = float(vals[1])
            x = type(vals[1])
            
        if x == float and sample_of_interest == 'yes':
            for a in analytes:
                upper_tolerance = RT_dict[a] + 0.05
                lower_tolerance = RT_dict[a] - 0.05
                if vals[1] < upper_tolerance and vals[1] > lower_tolerance:
                    #print(vals[1])
                    vals.append(a)
                    #print(vals)
                    sheet2.append(vals[1:])

ClFatB3-1
['ClFatB3-1', 'ClFatB3-1', 'ClFatB3-1', 'ClFatB3-1', 'ClFatB3-1', 'ClFatB3-1']
ClFatB3-2
['ClFatB3-2', 'ClFatB3-2', 'ClFatB3-2', 'ClFatB3-2', 'ClFatB3-2', 'ClFatB3-2']
ClFatB3-3
['ClFatB3-3', 'ClFatB3-3', 'ClFatB3-3', 'ClFatB3-3', 'ClFatB3-3', 'ClFatB3-3']
ClFatB3_tr-1
['ClFatB3_tr-1', 'ClFatB3_tr-1', 'ClFatB3_tr-1', 'ClFatB3_tr-1', 'ClFatB3_tr-1', 'ClFatB3_tr-1']
ClFatB3_tr-2
['ClFatB3_tr-2', 'ClFatB3_tr-2', 'ClFatB3_tr-2', 'ClFatB3_tr-2', 'ClFatB3_tr-2', 'ClFatB3_tr-2']
ClFatB3_tr-3
['ClFatB3_tr-3', 'ClFatB3_tr-3', 'ClFatB3_tr-3', 'ClFatB3_tr-3', 'ClFatB3_tr-3', 'ClFatB3_tr-3']
ClFatB3_tr_I65M-1
['ClFatB3_tr_I65M-1', 'ClFatB3_tr_I65M-1', 'ClFatB3_tr_I65M-1', 'ClFatB3_tr_I65M-1', 'ClFatB3_tr_I65M-1', 'ClFatB3_tr_I65M-1']
ClFatB3_tr_I65M-2
['ClFatB3_tr_I65M-2', 'ClFatB3_tr_I65M-2', 'ClFatB3_tr_I65M-2', 'ClFatB3_tr_I65M-2', 'ClFatB3_tr_I65M-2', 'ClFatB3_tr_I65M-2']
ClFatB3_tr_I65M-3
['ClFatB3_tr_I65M-3', 'ClFatB3_tr_I65M-3', 'ClFatB3_tr_I65M-3', 'ClFatB3_tr_I65M-3', 'ClFatB3_tr_I65M-3', 'ClFatB3_tr_I65M-3']
ClFatB3_tr_N28S-1
['ClFatB3_tr_N28S-1', 'ClFatB3_tr_N28S-1', 'ClFatB3_tr_N28S-1', 'ClFatB3_tr_N28S-1', 'ClFatB3_tr_N28S-1', 'ClFatB3_tr_N28S-1']
ClFatB3_tr_N28S-2
['ClFatB3_tr_N28S-2', 'ClFatB3_tr_N28S-2', 'ClFatB3_tr_N28S-2', 'ClFatB3_tr_N28S-2', 'ClFatB3_tr_N28S-2', 'ClFatB3_tr_N28S-2']
ClFatB3_tr_N28S-3
['ClFatB3_tr_N28S-3', 'ClFatB3_tr_N28S-3', 'ClFatB3_tr_N28S-3', 'ClFatB3_tr_N28S-3', 'ClFatB3_tr_N28S-3', 'ClFatB3_tr_N28S-3']

In [8]:
wb.save(filename)

In [9]:
#Now remove duplicate peaks from Peak_ID tab

In [10]:
wb = openpyxl.load_workbook(filename)
sheet2 = ''
sheet2 = wb['Peak_ID']
sheet3 = ''
sheet3 = wb.create_sheet('Quantification w IS,ES')

In [11]:
ID  = 'blank'
Area = 'blank'
sheet3_list = []

for row in sheet2.iter_rows(min_row = 1, max_row = 5000, min_col = 1, max_col = 10, values_only = True): # iterates through a semi-arbitrary number of rows and only reports values, still a tuple
    
    if row[5] == ID: # If there is a duplicate label for a single peak, pick the peak with the larger area
        if row[3] > Area:
            sheet3_list.pop()
            sheet3_list.append(row)
        else:
            continue
            
    else:
        sheet3_list.append(row)
    
    if row[3] == None: # breaks out of for loop once all text file data is iterated through
        break
    
    else:
        ID = row[5]
        Area = row[3]
            
for row in sheet3_list:
    sheet3.append(row)
    
#Notice that this code may not work as intended if there is a duplicate in the first row, however, since the first row will always be a sample name, it is fine.

In [12]:
wb.save(filename)

In [13]:
wb = openpyxl.load_workbook(filename)
sheet_read = ''
sheet_read = wb['Peak_ID']
sheet3 = ''
sheet3 = wb.create_sheet('Quantification w IS,ES-full')

In [14]:
sample_header=[]
data_header = ['Peak#', 'R.time', 'I.time', 'F.time', 'Area', 'Peak_ID']

for row in sheet_read.iter_rows(min_row = 1, max_row = sheet_read.max_row, min_col = 1, max_col = 10, values_only = True): # iterates through a semi-arbitrary number of rows and only reports values, still a tuple
    if row[0] == row[1] and row [1] == row[2]: # This is a bit clunky, but it ensures the order of the samples in the Peak_ID tab is maintained
        sample = row[0]
        sample_header = [sample, sample, sample, sample, sample, sample]
        sheet3.append(sample_header)
        sheet3.append(data_header)
        for a in analytes:
            blank_row = [0,0,0,0,0,a]
            sheet3.append(blank_row)

In [15]:
print(sheet3.max_row)

228

In [16]:
sheet2 = ''
sheet2 = wb['Quantification w IS,ES']
sheet3 = ''
sheet3 = wb['Quantification w IS,ES-full']

In [17]:
Ass_Fat = True
last_count = 1
while Ass_Fat:
    
    counter = 0
    
    for row2, row3 in zip(sheet2.iter_rows(min_row = 1, max_row = sheet3.max_row, min_col = 1, max_col = 10, values_only = True), sheet3.iter_rows(min_row = 1, max_row = sheet3.max_row, min_col = 1, max_col = 10, values_only = True)):
        #print(row1[0], row2[0])
        counter = counter + 1
        #print(counter)
        if counter < last_count:
            continue
        elif row2[5] == row3[5]:
            last_count = counter
            print(last_count)
        elif row2[5] != row3[5]:
            #print(row3[5])
            sheet2.insert_rows(counter)
            sheet2.cell(row = counter, column = 6).value = row3[5]
            sheet2.cell(row = counter, column = 5).value = 0.000000001
            #last_count = counter
            break

        if counter == sheet3.max_row:
            Ass_Fat = False
            break
        else:
            continue

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
227
228

In [18]:
#wb.remove_sheet('Quantification w IS,ES-full')
wb.save(filename)

In [1]:
for i, j in zip([1,2,3], [3,2,1]):
    print(i, j)

1 3
2 2
3 1